/*商品顏色介紹*/
       .coloe-style{
        width: 100%;
        color: #003d79;
        font-size: 20px;
        margin-top: 10px;
        font-weight: bolder;
       }
       .all-product{
            margin: auto;
            width:70%;
        }
        
        .productcolor{
        width: 80%;
        height: 250px;
        display: flex;
        margin: auto;
        padding: 20px;
     }
        .product-up{
            display: flex;
            margin: auto;
            
        }
        .product-down{
            display: flex;
            margin: auto;
            
        }
        .product-text{
            text-align: center;
            font-size: 16px;
            color: #003d79;
            font-weight: bolder;
            text-shadow:  5px 5px 5px#a5c7e2;
            padding: 10px;
        }
        .productcolor img{            
                width: 170px;
                height: 170px;
                display:flex;
                margin: auto;
                padding: 10px 20px;
                background-color: white;
                border-radius: 6px;
            }
            
            .product-1{
                padding: 10px 20px;
                margin: auto;
                text-align: center;
                color: white;
            }
            .product-1 img{
                object-fit: cover;
            }
            
            .product-2{
                padding: 10px 20px;
                margin: auto;
                text-align: center;
                color: white;
            }
            .product-2 img{
                object-fit: cover;
            }
            
            .product-3{
                padding: 10px 20px;
                margin: auto;
                text-align: center;
                color: white;
            }
            .product-3 img{
                object-fit: cover;
            }